:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}
a:-webkit-any-link {
    cursor: default;
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    color:var(--primary-text-color);
    background-color: #ffffff;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
}

.conteiner {
    width: 1200px;
    
}

/* секция хедер */
.header {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.logo {
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
   
    
    
}
.studio {
    color: var(--title-text-color);
    
}
.navigation-link {
    color: var(--title-text-color);
    
    
}
.navigation :hover, 
.navigation :focus {
    color: var(--accent-color);
}

.contacts-link {
    color: var(--primary-text-color);
}

.current,
.contacts :hover,
.contacts :focus {
    color: var(--accent-color);
}
/* главная секция */
.main {
background-color: #2F303A;

}
.main-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-top: 0;
    padding-top: 200px;
    padding-bottom: 30px;
    padding-left: 452px;
    padding-right: 452px;
    
}
.main-button {
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0;
    border-radius: 4px;
    padding: 10px 32px;
    margin-left: 700px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 200px;
    min-width: 136px;
   
    
}
/* наши преимущества */
.feature {
    margin-bottom: 94px;
    margin-top: 94px;
    margin-left: 215px;
    margin-right: 215px;
    width: 1170px;

}
.feature-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
}
.text {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* чем мы занимаемся */
.activities {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: 612px;
        
}
.activities-list {
    margin-top: 0;
}
/* наша команда */
.team {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 94;
    margin-bottom: 50px;
    margin-left: 668px;
    
}
.team-list {
    margin-top: 0;
}
.name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
.job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 0;
}
/* футер */
footer {
    background-color: #2F303A;
}
.footer-studio {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF
}
.adress {
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 9px;
}
.contacts-footer {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    cursor: default;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.list {
    margin-top: 0;
}

.list :hover, 
.list :focus {
color: var(--accent-color);
}
footer {
    color: var(--primary-text-color);
}

/* css для портфолио */

.filter-button {
    cursor: pointer;
    background: #F5F4FA;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
}
.filter :hover,
.filter :focus {
    background: var(--accent-color);
    color: #FFFFFF;
}
.portfolio-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    cursor: default;
    text-decoration: none;
}
.portfolio-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}